*{
    padding: 0;
    margin: 0 0.5vw;
    box-sizing: border-box;
    font-family: 'Recursive';
    src: url('/fonts/Recursive_Web/woff2_variable/Recursive_VF_1.085.woff2') format('woff2-variations');
    font-weight: 300 1000;
}

body{
    /* margin: 0; */
    /* margin-left: 1.5vw; */
    background-color: #FAF9F6;
}

  /* #contents {
  
  } */

.nav-bar {
    position: relative;
    top: 0;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    line-height: 80px;
    margin: 0;

    border-bottom-style: solid;
    border-bottom-width: 10px 5px;
    border-bottom-color: lightblue;
    margin-bottom: 3vh;
}
  
#icon {
    /* background-color: brown; */
    height: 80px;
    /* left: 1vw; */
    position: relative;
    /* z-index: 2; */
    cursor: pointer;
}
  
.spacer {
    width: auto;
    flex-grow: 2;
}
  

#rightNav { 
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 0;
}

#myName {
    /* position: absolute; */
    /* right: 1vw; */
    /* right: 0; */
    /* position:fixed; */
    display: flex;
    width: auto;
    /* right: 80px; */
    margin-bottom: 0;

    font-size: 175%;
    font-weight: 300;
    font-style: italic;
}

#openMenu {
    /* right: 0; */
    display: flex;
    height: 80px;
    /* position:fixed; */
    /* background-color: #FAF9F6; */
    cursor: pointer;
}

#closeMenu {
    right: 0.5vw;
    height: 80px;
    position:fixed;
    top: 0;
    z-index: 15;
    visibility:hidden;
    cursor: pointer;
}

/* .menuBtn { */
    /* right: 0; */
    /* display: flex; */
    /* height: 80px; */
    /* position:fixed; */
/* } */

  
/* NAV BAR */

/* position content inside overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from top */
    width: 100vw;
    text-align: center; /* centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
  
#projectsLink {
    /* height & width depends on how you want to reveal the overlay (see js below) */
    height: 33.3vh; /* 100vh / 5 */
    width: 0;
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    right: 0;
    top: 0;
    background-color: rgb(0,49,83); /* prussian blue fallback color */
    background-color: rgb(0,49,83,0.9); /* prussian blue w/ opacity */
    overflow-x: hidden; /* disable horizontal scroll */
    transition: 1.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  
#aboutLink {
    /* height & width depends on how you want to reveal the overlay (see js below) */
    height: 33.3vh; /* 100vh / 5 */
    width: 0;
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    left: 0;
    top: 33.3vh;
    background-color: rgb(255,244,79); /* lemon yellow fallback color */
    background-color: rgb(255,244,79,0.9); /* lemon yellow fallback color */
    overflow-x: hidden; /* disable horizontal scroll */
    transition: 1.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  
#contactLink {
    /* height & width depends on how you want to reveal the overlay (see js below) */
    height: 33.3vh; /* 100vh / 5 */
    width: 0;
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    right: 0;
    top: 66.6vh;
    background-color: rgb(142,58,89); /* quinacridone magenta fallback color */
    background-color: rgb(142,58,89,0.9); /* quinacridone magenta w/ opacity */
    overflow-x: hidden; /* disable horizontal scroll */
    transition: 1.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  
/* navigation links inside overlay */
/* a:link */
a {
    /* padding: 8px; */
    text-decoration: none;
    font-size: 36px;
    color: pink;
    display: block; /* display block instead of inline */
    transition: 0.3s; /* transition effects on hover (color) */
    /* line-height: 20vh; */
}
  
#projectsLink, #aboutLink, #contactLink {
    line-height: 33.3vh;
}
  
/* when you mouse over nav links, change color */
a:hover, a:focus {
    color: orange;
    opacity: 50%;
}
  
/* when the height of the screen is less than 450px, change link font-size and position to close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    a {font-size: 20px}
}

h1, h2, h3, h4, h5, h6, i {
    margin: 0;
    padding: 0;
}