@import '/src/constants.css';

*, *::before, *::after {
    box-sizing: border-box;
}

.intro {
    padding: 0 1vw;
    text-align: center;
    /* color: var(--c_background); */
    color: var(--p_blue);
    padding-bottom: 5vw !important;
}

.intro h1 {
    font-family: 'Recursive';
    /* font-size: max(50px, 10vw); */
    font-size: max(70px, 10vw);
    color: var(--qp_violet);
    font-weight: 1000;
    /* font-style: oblique; */
    /* padding: 0; */
    /* padding-left: 0;
    padding-right: 0; */
    /* margin: 0; */
    margin-bottom: 0;
    text-shadow: 0 2px 5px var(--qp_violet_09);
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;

    /* width: 100vw; */
    width: 100%;
    max-height: calc(100vw-80px);

    justify-content: space-evenly;
}

/****************
  PROJECT CARDS
****************/

.pic {
    object-fit: cover;
    width: 350px;
    height: 250px;
}

#pic_overlay {
    /* background-color: var(--qp_violet); */
    background: linear-gradient(transparent, var(--qp_violet));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* opacity: 25%; */
    opacity: 45%;
}

.proj_card {
    position: relative;
    max-width: fit-content;
    margin: 3vh 0;
    /* border: solid black 3px; */
    cursor: pointer;
    /* width: 350px; */
    /* height: 250px; */
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
    outline: thin solid var(--p_blue);

    transition: transform 500ms ease;
}

.proj_card:hover, .proj_card:focus, .proj_card:active {
    transform: scale(1.10);
    outline: thin solid var(--q_magenta);
    box-shadow: 0px 4px 5px 8px rgb(71, 54, 86, 0.3);
}

.card_info {
    display: flex;
    flex-direction: column;
    text-align: left;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 7.5px;
    /* background: rgb(0,49,83, 0.7); */
    background: linear-gradient(rgb(127, 172, 133,0), rgb(0,49,83,1));
    /* height: 50%; */
    width: 100%;
    transform: translateY(55%);
    transition: transform 500ms ease;
}

.card_info:hover #arrow, .card_info:focus #arrow, .card_info:active #arrow {
    color: var(--c_background);
    text-shadow: -3px 3px var(--q_magenta);
}

.proj_card:hover .card_info, .proj_card:focus .card_info, .proj_card:active .card_info {
    transform: translateY(1.5%);
    background: linear-gradient(rgb(127, 172, 133,0), rgb(0,49,83,1));
}

.card_title {
    font-size: 115%;
    position: relative;
    color: white;
    /* text-shadow: -2px 2px var(--p_blue); */
    text-shadow: -3px 3px var(--p_blue);
    padding-bottom: 5px;
    width: fit-content;
    font-weight: 800;

    font-feature-settings: 'ss05';
}

.proj_card:hover .card_title, .proj_card:focus .card_title, .proj_card:active .card_title {
    /* text-shadow: -2px 2px var(--q_magenta); */
    text-shadow: -3px 3px var(--q_magenta);
}

.proj_card:hover .card_title::after, .proj_card:focus .card_title::after, .proj_card:active .card_title::after {
    content: "";
    position: absolute;
    background: var(--q_magenta);
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.card_title::after {
    content: "";
    position: absolute;
    background: var(--p_blue);
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.bottom_info {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: var(--c_background);
    /* padding-top: 1vh; */
    padding-top: 1vh;

    font-feature-settings: 'onum';
    /* font-family: */
}

.info_left {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
}

#arrow {
    /* text-align: center; */
    text-align: right;
    padding-right: 5px;
    /* position: absolute; */
    position: relative;
    width: 20%;
    /* align-content: center; */
    align-content: end;
    font-size: 200%;
    color: var(--q_magenta);
}

/* #arrow:hover {
    color: var(--q_magenta);
} */

.key_materials {
    font-size: 75%;
    padding-top: 0.5vh;
}