@import '/src/constants.css';

*, *::after, *::before {
    box-sizing: border-box;
}

/* transferred */

.contact-container {
    /* height: 100vh; */
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    /* background-color: aqua; */

    margin: 0 1vw;

    height: 100%;
}

#upper_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    justify-content: space-between;

    width: 100%;
    left: 0;

    /* background-color: aquamarine; */
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    /* width: 100%; */
    justify-self: center;
    text-align: center;
    padding-left: 25px;
}

.contact-left-title h2 {
    margin: 0;
    padding: 0;
    font-size: calc(25px + 2vw);
    color: var(--p_blue);
    /* font-weight: 600;
    color: blue;
    font-size: 40px;
    margin-bottom: 5px; */
    font-family: 'Recursive';
    font-weight: 1000;
}

/* .contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: var(--q_magenta);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 0;
} */

.contact-inputs {
    width: min(125%, 500px);
    height: 50px;
    border: none;
    padding-left: 25px;
    font-weight: 500;
    /* color: grey; */
    color: var(--p_blue);
    border-radius: 50px;

    font-family: 'Fira Code VF';
    /* color: rgb(0,49,83,0.5); */
    box-shadow: 0 2px 5px darkgrey;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
    color: rgb(0,49,83,0.5);
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: var(--p_blue);
    gap: 10px;
    border: none;
    border-radius: 50px;
    /* background: radial-gradient(rgb(0, 0, 161), darkmagenta, rgb(253, 253, 19)); */
    background-color: var(--l_yellow);
    cursor: pointer;

    @import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
    font-family: 'Fira Code', monospace;
}

@media (max-width:80vw) {
    .contact-inputs {
        width: 80vw;
    }
}

.contact-right {
    width: 45vw;
    text-align: center;
    align-self: center;
}

#submit_btn {
    box-shadow: 0 2px 5px darkgrey;
}

#submit_btn:hover {
    background-color: rgb(233, 222, 71);
}

#submit_btn:active {
    background-color: rgb(220, 209, 67);
    box-shadow: 0 3px 5px #666;
    transform: translateY(4px);
}