/* * {
    box-sizing: border-box;
    font-family: 'Recursive', "Trebuchet MS", Helvetica, sans-serif;
    src: url('/fonts/Recursive_Web/woff2_variable/Recursive_VF_1.085.woff2') format('woff2-variations');
    font-weight: 300 1000;
    margin: 0;
    justify-content: center;
}

body {
    background-color: #FAF9F6;
    margin: 0 0.5px;
} */

/*****************/

*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Recursive', "Trebuchet MS", Helvetica, sans-serif;
    src: url('/fonts/Recursive_Web/woff2_variable/Recursive_VF_1.085.woff2') format('woff2-variations');
    font-weight: 300 1000;
}

h1, h2, h3, h4, h5, h6, i {
    margin: 0;
    padding: 0;
}

/* .content {
    background-color: red;
} */

/* transferred */

.contact-container {
    /* height: 100vh; */
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: aqua;

    margin: 0 1vw;

    height: 100%;
}

#upper_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    justify-content: space-between;

    width: 100%;
    left: 0;

    background-color: aquamarine;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    width: 100%;
    justify-self: center;
    text-align: center;
}

.contact-left-title h2 {
    margin: 0;
    padding: 0;
    font-size: calc(25px + 2vw);
    color: var(--p_blue);
    /* font-weight: 600;
    color: blue;
    font-size: 40px;
    margin-bottom: 5px; */
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: darkmagenta;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    padding-left: 25px;
    font-weight: 500;
    color: grey;
    border-radius: 50px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
    color: grey;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: var(--p_blue);
    gap: 10px;
    border: none;
    border-radius: 50px;
    /* background: radial-gradient(rgb(0, 0, 161), darkmagenta, rgb(253, 253, 19)); */
    background-color: var(--l_yellow);
    cursor: pointer;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width:80vw) {
    .contact-inputs {
        width: 80vw;
    }
}

.contact-right {
    width: 50vw;
    justify-self: center;
}