@import '/src/constants.css';

*, *::before, *::after {
    box-sizing: outline-box;
}

.content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

#content_above {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding-right: 3vw;

    padding-bottom: 1vh;
}

#intro {
    padding: 0 1vw;

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

#page_title {
    margin: 0;
    padding: 0;

    font-size: calc(40px + 5vw);
    font-family: 'Recursive';
    /* font-size: calc(25px + 5vw); */
}

#about_me {
    text-wrap: balance;
    font-size: 150%;


    margin: 3vh 0;
    margin-left: 3vw;
    line-height: 2.5rem;
}

#about_me a {
    text-decoration: none;
}

#spacer {
    flex-grow: 1;
}

#content_right {
    align-content: center;

    width: 100%;
    justify-items: center;
}

#me_pics {
    position: relative;

    /* width: 43vw; */
    width: 39.5vw;
    height: 37vw;
    min-width: 350px;
    min-height: 300px;

    max-width: 750px;
    max-height: 700px;

    margin-bottom: 1.5vh;
}

#me_pic_a {
    border-radius: 50%;
    /* width: 40.5vw;
    height: 40.5vw; */
    width: 37vw;
    height: 37vw;

    max-width: 700px;
    max-height: 700px;
    min-width: 300px;
    min-height: 300px;

    justify-self: center;

    position: absolute;
    right: 0;

    box-shadow: 4px 2px 5px 8px rgb(255,244,79,0.3);
}

#me_a {
    border-radius: 50%;
    object-fit: cover;

    width: 100%;
    height: 100%;
}

#me_b {
    position: absolute;
    /* bottom: 5%; */
    bottom: 7%;

    border-radius: 50%;
    object-fit: cover;

    width: 13.25vw;
    height: 13.25vw;
    max-width: 200px;
    max-height: 200px;
    min-width: 125px;
    min-height: 125px;

    box-shadow: -4px 4px 5px 4px rgb(0,49,83,0.3);
}

#me_c {
    position: absolute;
    bottom: 0;
    left: 25%;

    border-radius: 50%;
    object-fit: cover;

    width: 10vw;
    height: 10vw;
    max-width: 150px;
    max-height: 150px;
    min-width: 75px;
    min-height: 75px;

    box-shadow: -4px 6px 5px 1px rgb(142,58,89,0.3);
}

#content_below {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin-top: 1.5vh; */
}

#resume_buttons {
    align-self: center;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    /* justify-content: space-evenly; */
    align-items: center;

    height: fit-content;
    
    padding: 3vw 0;
    gap: 3vw;
}

.accordion {
    transition: 0.4s;

    background-color: var(--l_yellow);
    width: calc(100vw/4);
    min-width: fit-content;
    border-radius: 5px;
    padding: 5px;
    font-size: 125%;
    box-shadow: 0 7px #999;

    height: fit-content;

    border: thin solid var(--p_blue);
}

.accordion:hover {
    background-color: rgb(233, 222, 71);
}

.accordion:active {
    background-color: rgb(220, 209, 67);
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.panel {
    padding: 0 18px;
    /* background-color: darkorange; */
    display: none;
    overflow: hidden;
    width: 100%;
}

/* comment for test purposes */