/* * {
    box-sizing: border-box;
    font-family: 'Recursive';
    src: url('/fonts/Recursive_Web/woff2_variable/Recursive_VF_1.085.woff2') format('woff2-variations');
    font-weight: 300 1000;
    margin: 0;
    justify-content: center;
}

body {
    background-color: #FAF9F6;
    margin: 0 0.5px;
} */

/*****************/

h1, h2, h3, h4, h5, h6, i {
    margin: 0;
    padding: 0;
}