body {
    margin: 0;
    background-color: beige;

}

/* .nav-bar {
    position: relative;
    top: 0;
    width: 100%;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: row;
  }

  #nav-buttons {
    display: flex;
    flex-direction: row;
  }
  
  .navButton {
    padding: 0px 15px;
  }
  
  #icon {
    background-color: brown;
    width: 80px;
    height: 80px;
  }
  
  .spacer {
    width: auto;
    flex-grow: 2;
  }
  
  #nav-buttons {
    width:auto
  }
  
  a:link {
      text-decoration: inherit;
      color: magenta; */
      /* color: inherit; */
  /* }
  
  a:visited {
      text-decoration: inherit;
      color: indigo; */
      /* color: inherit; */
  /* }
  
  a:hover {
    opacity: 50%;
  } */





/* aside {
    position: fixed;
    inset: 0 auto 0 0;
    padding: 1rem;
    width: 80px;
    background-image: linear-gradient(pink, blue, purple);
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 0.25rem;   
    height: 100%;
}

nav {
    height: 100%;
}

nav li:last-child {
    margin-top: auto;
}

nav a {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.625rem 0.875rem;
    font-size: 1.25rem;
    line-height: 1;
    color: white;
    text-decoration: none;
}

nav a span {
    font-size: 0.875rem;
    opacity: 0;
    visibility: hidden;
} */