body {
    margin: 0;
    background-color: beige;

}

  
a:link {
    text-decoration: inherit;
    color: magenta;
    /* color: inherit; */
}
  
a:visited {
    text-decoration: inherit;
    color: indigo;
    /* color: inherit; */
}
  
a:hover {
    opacity: 50%;
}

#previous {
    margin: 5%; /* temporary; I want it to float on top on the left */
    background-color: pink;
}

#title {
    position: absolute;
    background-color: blue;
    text-align: center;
    display: block;
    margin: auto;
}
