@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);


/* @font-face {
    font-family: 'Fira Code';
    font-family: 'Fira Code VF';
    src: url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
} */


@font-face {
    font-family: 'Recursive';
    src: url('/recursive/fonts/ArrowType-Recursive-1.085/Recursive_Web/woff2_variable/Recursive_VF_1.085.woff2') format('woff2-variations');
    font-weight: 300 1000;
}

/* font-family: 'Recursive', "Trebuchet MS", Helvetica, sans-serif;
    src: url('/fonts/Recursive_Web/woff2_variable/Recursive_VF_1.085.woff2') format('woff2-variations');
    font-weight: 300 1000; */

.monaco-editor {
    font-feature-settings: "ss01", "ss02", "ss03", "ss04", "ss05", "ss06", "zero", "onum";
}
  
:root {
    --c_background: #FAF9F6;
    --q_magenta: rgb(142,58,89);
    --q_magenta_09: rgb(142,58,89,0.9);
    --l_yellow: rgb(255,244,79);
    --l_yellow_09: rgb(255,244,79,0.9);
    --p_blue: rgb(0,49,83);
    --p_blue_09: rgb(0,49,83,0.9);
  
    --qp_violet: rgb(71,54,86);
    --qp_violet_09: rgb(71,54,86,0.9);
    --lp_green: rgb(127, 172, 133);
    --lp_green_09: rgb(127, 172, 133,0.9);
    --ql_orange: rgb(199,151,84);
    --ql_orange_09: rgb(199,151,84,0.9);
  
    /* font-family: 'Fira Code', 'Recursive'; */
    font-family: 'Recursive', 'Fira Code VF';
    code { font-family: 'Recursive', 'Fira Code VF'; }
    /* code { font-family: 'Fira Code', 'Recursive';}  */
    /* monospace; } */

    @supports (font-variation-settings: normal) {
        font-family: 'Fira Code VF';
        code { font-family: 'Fira Code VF', monospace; }
    }
}