/* * {
  box-sizing: border-box;
  font-family: 'Recursive';
  src: url('/fonts/Recursive_Web/woff2_variable/Recursive_VF_1.085.woff2') format('woff2-variations');
  font-weight: 300 1000;
  margin: 0;
  justify-content: center;
}

body {
  background-color: #FAF9F6;
  margin: 0 0.5px;
} */

/*****************/
* {
    --c_background: #FAF9F6;
    --q_magenta: rgb(142,58,89);
    --q_magenta_09: rgb(142,58,89,0.9);
    --l_yellow: rgb(255,244,79);
    --l_yellow_09: rgb(255,244,79,0.9);
    --p_blue: rgb(0,49,83);
    --p_blue_09: rgb(0,49,83,0.9);

    --qp_violet: rgb(71,54,86);
    --qp_violet_09: rgb(71,54,86,0.9);
    --lp_green: rgb(127, 172, 133);
    --lp_green_09: rgb(127, 172, 133,0.9);
    --ql_orange: rgb(199,151,84);
    --ql_orange_09: rgb(199,151,84,0.9);
}


#cy {
  /* position: absolute; */
  left: 0;
  width: 100vw;
  height: 79vh;
}

/* source: https://developer.mozilla.org/en-US/docs/Learn_web_development/Extensions/Forms/Advanced_form_styling */
input[type="checkbox"] {
  /* disables default browser appearance, allowing changes */
  appearance: none;

  position: relative;
  width: 1em;
  height: 1em;
  border: 1px solid gray;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -2px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: green;
}

input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}

#search_bar {
  margin-left: 2vw; 
  width: 25vw;
  color: var(--p_blue_09);
  border: solid 1px var(--p_blue);
  border-radius: 2px;
  background-color: rgb(127, 172, 133, 0.2);
}

#search_bar::placeholder {
  color: rgb(0,49,83,0.5);
}


/* ACCORDION FORMAT */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 9vw;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  /* padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden; */
  padding: 0 18px;
  background-color: aqua;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/* @font-face {
  font-family: 'Recursive';
  src: url('/fonts/Recursive_Web/woff2_variable/Recursive_VF_1.085.woff2') format('woff2-variations');
  font-weight: 300 1000;
 } */


 /* deadling with hover vs. no hover capabilities; these deal with the PRIMARY inputs */
 @media (hover: hover) {
  /* targets ONLY devices that CAN hover */

 }

 @media (hover: none) {
  /* targets ONLY devices that CANNOT hover */
  
 }